[include]
	path = ~/.gitconfig.private
[init]
	defaultBranch = main
[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
[fetch]
        prune = true
        all = true
[pull]
        rebase = true
