# "https://dlvhdr.github.io/gh-dash/"

prSections:
  - filters: is:open author:@me
    title: mine
  - filters: is:open review-requested:@me
    title: review
  - filters: is:open involves:@me -author:@me
    title: involved

issuesSections:
  - title: assigned
    filters: is:open assignee:@me -label:epic

defaults:
  layout:
    # https://github.com/dlvhdr/gh-dash?tab=readme-ov-file#-layout
    issues:
      reactions:
        hidden: true
  pager:
    diff: more
repoPaths:
  :owner/:repo: ~/repos/gh/:repo
